<div class="fb-login-wrapper d-flex align-items-center justify-content-center vh-100">
  <div class="row width">
    
    <!-- Left Section -->
    <div class="col-md-6 d-flex flex-column justify-content-center mb-5 mb-md-0">
      <img src="assets/images/logo.png" alt="Logo" class="fb-main-logo mb-3">
      <h2 class="fb-tagline">CallMaster there should be some some ramdon text about this site and some slogan</h2>
    </div>

    <!-- Right Section (Login Box) -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="card shadow-lg p-4 rounded-4 bg-white login-card">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <!-- User ID Field -->
          <div class="mb-3">
            <input id="userId" formControlName="userId" type="text" placeholder="Login Id"
              class="form-control form-control-lg" />
            <div *ngIf="submitted && loginForm.get('userId')?.invalid" class="text-danger mt-1 small">
              User ID is required
            </div>
          </div>

          <!-- Extension Field -->
          <div class="mb-3">
            <input id="extension" formControlName="extension" type="number" placeholder="Extension"
              class="form-control form-control-lg" />
            <div *ngIf="loginForm.get('extension')?.invalid && loginForm.get('extension')?.touched" class="text-danger mt-1 small">
              Extension is required.
            </div>
          </div>

          <!-- Password Field -->
          <div class="mb-3">
            <input id="password" formControlName="password" type="password" placeholder="Password"
              class="form-control form-control-lg" />
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger mt-1 small">
              Password is required.
            </div>
          </div>

          <!-- Submit Button -->
           <!-- [disabled]="loginForm.invalid" -->
          <button type="submit"  class="btn btn-gradient-primary w-100 fw-bold py-2 fs-5">
            Log In
          </button>

          <!-- Error Message -->
          <div *ngIf="errorMessage" class="text-danger text-center mt-3">
            {{ errorMessage }}
          </div>

          <hr>

          <!-- Forgot Password -->
          <div class="text-center mt-3">
            <a href="#" class="text-decoration-none small">Forgotten password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
