.short-sidebar {
  width: 5%;
  /* height: 100vh; */
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: all 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  /* overflow-y:scroll; */
}

.short-sidebar .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

}

.short-sidebar .nav-item {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.short-sidebar .nav-link {
  color: #555;
  font-size: 24px;
  transition: color 0.3s ease;
}

.short-sidebar .nav-link:hover {
  color: #007bff;
}

a {
  cursor: pointer;
}

i {
  font-size: 19px;
  color: #afafaf;
  margin-left: 5px;
}

.custom-bottom-ul {
  margin-top: 13rem !important;
  margin-left: 33px !important;
}

/* hover  */

.hover-group {
  position: relative;
}

.hover-menu {
  display: none;
  position: absolute;
  top: 6%;
  left: 55px;
  background: white;
  padding: 0;
  margin: 0;
  list-style: none;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
  z-index: 1000;
  width: 10rem !important;
  padding: 1rem !important;
  color: #afafaf !important;
}

.hover-group:hover .hover-menu {
  display: block;
}

.hover-menu li a {
  display: block;
  padding: 5px 10px;
  color: #939393;
  text-decoration: none;
  white-space: nowrap;
  font-size: 12px;
}

.hover-menu li a:hover {
  background-color: #f0f0f0;
}

.custom-arrow {
  margin-right: 5px;
  font-size: 10px;
}

@media (max-width: 900px) {
  .hover-menu {
    left: 52px !important;
  }
}