.pagination-controls {
  display: flex;
  gap: 5px;
  align-items: center;
}

.paginator-btn {
  padding: 5px 10px;
  cursor: pointer;
}

.paginator-btn.active {
  font-weight: bold;
  background-color: #0d6efd;
  color: white;
}

.dots {
  padding: 5px 10px;
}

.paginator-btn,
.dots,
.pagination-controls button {
  transition: none !important;
}
