.custom-link {
  cursor: pointer;
}
.logo-div {
  width: 3rem;
  margin-right: 1rem;
}
.logo-parent {
  display: flex;
}

  /* Smooth rotate for chevron */


.sub-menu {
  overflow: hidden;      /* Keeps text inside animated container */
  padding-left: 1rem;    /* Optional: proper indentation */
}

.nav-link {
  white-space: nowrap;   /* Prevents text wrapping during animation */
  transition: color 0.3s;
}



.d-bock {
  display: block !important;
}

.p-3 {
  padding: 20px !important;
}



/* hover item for sidebar */
ul.nav.sub-menu.ng-tns-c1904267516-0.ng-trigger.ng-trigger-dropdownAnimation.ng-star-inserted {
    flex-direction: column;
}

.sub-menu > li {
  width: 100% !important;
  height: 100% !important;
}

.sub-menu {
  list-style-type: none !important;
}

li::marker {
    content: none; /* removes the bullet/number */
}
