.custom-link {
  cursor: pointer;
}
.logo-div {
  width: 3rem;
  margin-right: 1rem;
}
.logo-parent {
  display: flex;
}

  /* Smooth rotate for chevron */
  .bi-chevron-down {
    transition: transform 0.3s ease;
  }

.sub-menu {
  overflow: hidden;      /* Keeps text inside animated container */
  padding-left: 1rem;    /* Optional: proper indentation */
}

.nav-link {
  white-space: nowrap;   /* Prevents text wrapping during animation */
  transition: color 0.3s;
}

.bi-chevron-down.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.d-bock {
  display: block !important;
}

.p-3 {
  padding: 20px !important;
}