.main-header {
  margin-left: auto !important;
}

.fullscreen-toggle-btn {
  display: block;
}

.mobile-toggle-btn {
  display: none;
}

@media (max-width: 1400px) {
  .fullscreen-toggle-btn {
    display: none;
  }

  .mobile-toggle-btn {
    display: block;
  }
}

.logo-parent.mb-4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem !important;
}

.d-block {
  display: block !important;
}
.sub-link {
  display: block !important;
  /* display: flex;
  flex-direction: column; */
  margin-left: 2rem;
}

aside.sidebar {
    position: fixed;
    top: 88px;
    left: 0;
    z-index: 4000;
    margin: 0;
    /* height: 100vh; */
}





