    .card-body h4 {
        font-size: 1rem;
        /* Heading */
    }

    .card-body h2 {
        font-size: 1.2rem;
        /* Number */
    }

    .card-body h6 {
        font-size: 0.85rem;
        /* Subtext */
    }

    .card-body i {
        font-size: 18px !important;
        /* Smaller icon */
    }

    .card .card-body {
        padding: 0.9rem !important;
    }

    .card-body h4 {
        font-size: 1rem;
        /* Smaller heading */
    }

    .card-body h2 {
        font-size: 1.25rem;
        /* Smaller number */
    }

    .card-body h6 {
        font-size: 0.85rem;
        /* Smaller subtext */
    }

    h3 {
        font-size: 1.25rem;
    }