.navbar {
  height: 56px;
  transition: margin-left 0.3s ease;
}

.custom-height {
  height: 43px;
  /* width: 7% !important; */
}

.remove-width {
  width: 5%;
}

.add-width {
  width: 95%;
}

.remove-big-logo {
  opacity: 0;
  display: none;
}

.add-small-logo {
  display: block !important;
  opacity: 1 !important;
  width: 100px !important;

}

@media (max-width: 1000px) {

  .remove-width {
    width: auto;
  }

  .add-width {
    width: auto;
  }

}

.header-action {
  padding-top: 8px;
  width: 100%;
}

.custom-form{
  margin-right: 8px;
}

.custom-sele {
  border: 1px solid rgb(217 140 255);
  margin-right: 5px;
  border-radius: 0;
  width: 8rem;
  border-radius: 8px;
  padding: 4px;
}

.custom-btn-head {
  margin: 0 !important;
}

.navbar .navbar-menu-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}


.navbar .navbar-brand-wrapper {

}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  margin-left: 0;
  height: auto;
}
.navbar .navbar-menu-wrapper .navbar-toggler {
  height: auto;
  margin-bottom: 7px;
}



@media (max-width: 800px) {
  .custom-action-design {

  }
  .cusotm-action-design-child {

  }

.custom-height {
  width: 20% !important;
}
.navbar-menu-wrapper.d-flex.align-items-stretch.add-width {
  /* width: 60% !important; */
}
ul.navbar-nav.navbar-nav-right {
  height: 81%;
}
button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center {
  margin-bottom: 14px !important;
}
input.form-control.text-center.fw-semibold {
  width: 100% !important;
}

}

