<div class="content-wrapper">

  <app-page-header title="Incoming Report" iconClass="mdi-format-list-checkbox"></app-page-header>


  <!-- search option -->
  <div class="container-fluid">
    <div class="search-bar-wrapper">
      <form class="search-project d-lg-flex flex-wrap gap-2 align-items-center" [formGroup]="searchFormIncoming"
        (ngSubmit)="getIncomingBySearch()">
        <!-- Always visible inputs -->
        <div>
          <label for="caller-naem">Caller</label>
          <input type="text" class="form-control modern-input" placeholder="Caller" formControlName="caller"
            id="caller-naem" />
        </div>
        <div>
          <label for="form-date">From Date</label>
          <input type="date" class="form-control modern-input" placeholder="ID" formControlName="fromDate"
            id="form-date" />
        </div>
        <div>
          <label for="form-date">To Date</label>
          <input type="date" class="form-control modern-input" placeholder="Role" formControlName="toDate"
            id="to-date" />
        </div>
        <!-- Toggle Button for dropdown inputs (only on small screens) -->
        <button id="filterToggleBtn" class="btn  d-lg-none small-toggle" type="button" data-bs-toggle="collapse"
          data-bs-target="#moreSearchFields" aria-expanded="false" aria-controls="moreSearchFields">
          More <span id="toggleIcon" class="bi bi-chevron-down"></span>
        </button>

        <!-- Collapsible Search Inputs -->
        <div class="collapse d-lg-flex gap-2 align-items-center" id="moreSearchFields">
          <div>
            <label for="">Campain</label>
            <select class="form-select" aria-label="Default select example" formControlName="campain">
              <option selected value="">Select Campaign</option>
              <option *ngFor="let c of campains" [value]="c.campaign_id">{{ c.campaign_name }}</option>
            </select>
            <!-- <input type="email" class="form-control modern-input" placeholder="Email" formControlName="search_email" /> -->
          </div>

          <div>
            <label for="">Status</label>
            <select class="form-select" aria-label="Default select example">
              <option selected value="">Select Status</option>
              <option value="answer">Answered</option>
              <option value="failed">Failed</option>
            </select>
          </div>

          <!-- <div>
            <label for="form-date">Status</label>
            <input type="text" class="form-control modern-input" placeholder="Status" formControlName="status"
              id="status" />
          </div> -->


          <!-- <input type="text" class="form-control modern-input" placeholder="Title"
            formControlName="search_project_title" />
          <input type="text" class="form-control modern-input" placeholder="Type"
            formControlName="search_prject_type" />
          <input type="text" class="form-control modern-input" placeholder="Assigned"
            formControlName="search_assigned_by" /> -->

        </div>

        <!-- Search Button -->
        <button type="submit" class="btn modern-btn">
          <i class="bi bi-search me-1"></i> Search
        </button>
        <button type="reset" class="btn modern-btn reset-btn" (click)="resetSearch()">
          <i class="bi bi-arrow-counterclockwise"></i>
          Reset
        </button>
      </form>
    </div>
  </div>

  <div class="d-md-block table-container">
    <table class="table  table-hover  shadow-sm rounded">
      <thead class="">
        <tr>
          <th>#</th>
          <th>UniqueID</th>
          <th>Calldate</th>
          <th>Caller</th>
          <th>Hunting</th>
          <th>Campaign</th>
          <th>Queue Time</th>
          <th>Ring Time</th>
          <th>Talk Time</th>
          <th>Transfer To</th>
          <th>Finished By</th>
          <th>Disposition</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of incomingReportsData; let i = index">
          <td>{{ sl + i + 1 }}</td>
          <td>{{ report.uniqueid }}</td>
          <td>{{ report.calldate ?? '-' }}</td>
          <td>{{ report.src }}</td>
          <td>{{ report.dst ?? '-' }}</td>
          <td>{{ report.campaign ?? '-' }}</td>
          <td>{{ report.caller_queue_time ?? '-' }}</td>
          <td>{{ report.connect_ring_time ?? '-' }}</td>
          <td>{{ report.caller_agent_talk_time ?? '-' }}</td>
          <td>{{ report.transfer_to ?? '-' }}</td>
          <td class="" [ngClass]="{'green-bg' : report.completecaller}">{{ report.completecaller? 'Caller Finished' :
            'Agent Finished' }}</td>
          <td>{{ report.disposition ?? '-' }}</td>
          <td>{{ report.status }}</td>
        </tr>


      </tbody>

    </table>
  </div>

  <app-paginator [offset]="offset" [limit]="limit" [hasMore]="hasMore" (next)="nextPage()"
    (prev)="prevPage()"></app-paginator>


</div>