<div class="content-wrapper">
    <app-page-header title="Active Agent" iconClass="bi bi-check2-square"></app-page-header>

    <!-- outgoing table -->
    <div class="d-md-block table-container">
        <table class="table  table-hover  shadow-sm rounded" appStickyTableHeader [offsetElements]="['.navbar.fixed-top']">
            <thead class="">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Agent ID</th>
                    <th>Extension</th>
                    <th>Status</th>
                    <th>Campaign</th>
                    <th>SessionID</th>
                    <th>Login Time</th>
                    <th>Login IP</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let report of agentStatusData; let i = index">
                    <td>{{ sl + i + 1 }}</td>
                    <td>{{ report.name }}</td>
                    <td>{{ report.agentID }}</td>
                    <td>{{ report.extension }}</td>
                    <td>{{ report.agentStatus }}</td>
                    <td>{{ report.campaigns }}</td>
                    <td>{{ report.sessionid }}</td>
                    <td>{{ report.loginTime }}</td>
                    <td>{{ report.remoteIP }}</td>
                </tr>
            </tbody>

            <p *ngIf="!agentStatusData.length" class="error-massage" style="color: red;">
                DATA NOT FOUND
            </p>

        </table>
    </div>

    <app-paginator [offset]="offset" [limit]="limit" [hasMore]="hasMore" (next)="nextPage()"
        (prev)="prevPage()"></app-paginator>
</div>