nav {
  height: 100% !important;
  width: 100% !important;
  z-index: 100;
}

.custom-margin {
  position: relative;
  top: 4px
}


@media (max-width: 1200px) {
  .sidebar .nav .nav-item {
    padding: 0px 10px !important;
  }

  .custom-profile-section {
    display: flex !important;
    justify-content: center;
  }

  .custom-margin {
    /* margin: 0 !important; */

  }


  /* WebKit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 1px !important;
    /* vertical scrollbar */
    height: 1px !important;
    /* horizontal scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    /* or light grey for visibility */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    /* color of the scroll thumb */
    border-radius: 8px;
    /* rounded edges */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #777;
    /* darker on hover */
  }

}

  @media (max-width: 400px) {

    nav#sidebar {
      padding: 1.2rem;
    }
  }



@media (max-width: 767px) {

  nav#sidebar {
    position: static !important;

  }

  .bottom-div-nav {
    margin-top: 22rem !important;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  nav#sidebar {
    position: static !important;

  }

  .bottom-div-nav {
    /* margin-top: 22rem !important; */
  }
}


.bottom-div-nav {
  margin-top: 17rem;
  text-align: center;
}

.bottom-div-nav>div {
  margin: 15px;
}

.bottom-div-nav>div>a {
  text-decoration: none;

}

.logout {
  color: rgb(255, 54, 54);
}

.submenu-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.submenu-container.open {
  max-height: 500px; /* large enough to fit contents */
  opacity: 1;
}
.sub-menu {
  overflow: hidden;
  padding-left: 15px;
}
