<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav custom-nav">
    <!-- Profile Section -->
    <li class="nav-item nav-profile active">
      <a href="#" class="nav-link custom-profile-section">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile" />
          <span class="login-status online"></span>
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">{{ decodedToken?.name }}</span>
          <span class="text-secondary text-small">
            {{ decodedToken?.usertype }}
            <i class="mdi mdi-bookmark-check text-success nav-profile-badge custom-margin"></i>
          </span>
        </div>
      </a>
    </li>



    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/agent/dashboard" (click)="onToggleSidebar()">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <!-- Profile Dropdown -->
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenu('profile')">
        <span class="menu-title">Profile</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
      <ul class="nav flex-column sub-menu" *ngIf="openMenu === 'profile'" [@slideInOut]>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/profile">View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/edit-profile">Edit Profile</a>
        </li>
      </ul>
    </li>

    <!-- Message Dropdown -->
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenu('message')">
        <span class="menu-title">Message</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-message-text menu-icon"></i>
      </a>
      <ul class="nav flex-column sub-menu" *ngIf="openMenu === 'message'" [@slideInOut]>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/message">Sent Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/inbox">Inbox</a>
        </li>
      </ul>
    </li>

    <!-- Forms Dropdown -->
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenu('forms')">
        <span class="menu-title">Forms</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
      <ul class="nav flex-column sub-menu" *ngIf="openMenu === 'forms'" [@slideInOut]>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/add-project">Add Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/multiple-forms">Multiple Forms</a>
        </li>
      </ul>
    </li>

    <!-- Charts Dropdown -->
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenu('charts')">
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
      <ul class="nav flex-column sub-menu" *ngIf="openMenu === 'charts'" [@slideInOut]>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/chartjs">ChartJs</a>
        </li>
      </ul>
    </li>

    <!-- Reports Dropdown -->
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenu('reports')">
        <span class="menu-title">Reports</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
      <ul class="nav flex-column sub-menu" *ngIf="openMenu === 'reports'" [@slideInOut]>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/reports/incoming">Incoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/reports/outgoing">Outgoing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agent/reports/break">Break</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agent/reports/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agent/reports/abandon">Abandon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agent/reports/rna">Ring No Answer</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a>
        </li> -->
      </ul>
    </li>

    <!-- Live Dropdown -->
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenu('live')">
        <span class="menu-title">Live</span>
        <i class="menu-arrow"></i>
        <i class="bi bi-broadcast me-1 menu-icon"></i>
      </a>
      <ul class="nav flex-column sub-menu" *ngIf="openMenu === 'live'" [@slideInOut]>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/live/abandon-call">Abandon Calls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/live/agent-status">Agent Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agent/live/extension-status">Extension Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agent/live/trunk-status">Trunk Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agent/live/waiting-calls">Waiting Calls</a>
        </li>
      </ul>
    </li>

    <!-- address book -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/agent/address-book" (click)="onToggleSidebar()">
        <span class="menu-title">Address Book</span>
        <i class="bi-person-lines-fill menu-icon"></i>
      </a>
    </li>

    <!-- About Dropdown -->
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenu('about')">
        <span class="menu-title">About</span>
        <i class="menu-arrow"></i>
        <i class="bi bi-info-circle menu-icon"></i>
      </a>
      <ul class="nav flex-column sub-menu" *ngIf="openMenu === 'about'" [@slideInOut]>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/timeline">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agent/contact">Contact Us</a>
        </li>
      </ul>
    </li>

    <!-- FAQ -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/agent/faq">
        <span class="menu-title">FAQ</span>
        <i class="bi bi-question-circle menu-icon"></i>
      </a>
    </li>

    <!-- settings -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/agent/settings">
        <span class="menu-title">Settings</span>
        <i class="bi-gear mdi menu-icon"></i>
      </a>
    </li>

    <!-- Sidebar Actions -->
    <li class="nav-item sidebar-actions">
      <span class="nav-link">
        <div class="border-bottom">
          <h6 class="font-weight-normal mb-3">Projects</h6>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-block btn-lg btn-gradient-primary mt-4" routerLink="/agent/add-project">
            + Add a project
          </button>
        </div>
      </span>
    </li>
  </ul>
</nav>