.card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
}

h4 i {
    vertical-align: middle;
}
.custom-color{
    color: #a25cff;
}
label span {
    color: rgb(218, 0, 0);
}
.col-md-9 small {
    color: red;
}

@media (max-width: 767px) {
    .col-md-3 {
        text-align: left;
        margin-bottom: 0.25rem;
    }

    .row.g-3 {
        flex-direction: column;
    }
}