

.container-fluid {
  background-color: #f6f6f6;
}

/* Custom thin sidebar */
.thin-sidebar {
  width: 4%;
  min-width: 50px;
  max-width: 60px;
  margin-top: 1rem;
  margin-left: 1rem;
  background: white !important;
  border-radius: 10px;
}

.col-11-main {
  width: 95% !important;
}
