<div class="chold-transition light-skin sidebar-mini theme-primary">
  <app-loader></app-loader>
  <div class="row vh-100">


    <!-- Sidebar -->
    <div class="custom-sidebar-container bg-light p-0" [ngClass]="{
       'sidebar-container': isSidebarOpen || isMobileSidebarVisible,
       'thin-sidebar-saiful': !isSidebarOpen && !isMobileSidebarVisible,
       'mobile-overlay': isMobile && isMobileSidebarVisible
     }">
      <app-sidebar [isOpen]="isSidebarOpen || isMobileSidebarVisible"></app-sidebar>
    </div>

    <!-- Main Content -->
    <div [ngClass]="isSidebarOpen ? 'small-main-container-saiful' : 'main-container'"
      [class.body-width-full]="isMobile">
      <app-header [isSidebarOpen]="isSidebarOpen" (toggleSidebar)="toggleSidebar()"></app-header>
      <router-outlet></router-outlet>
    </div>


  </div>
</div>